.loadingWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    .MuiCircularProgress-root {
        color: #ffff00;
    }
}