@import './../../colors.scss';

.MuiCard-root.player {
    background: $black1;
    box-shadow: none;

    .player-card-container {
        height: 50vh;
        display: flex;
        justify-content: center;

        .player-card {
            overflow: hidden;
            border-radius: 10px;
            flex-basis: 70%;

            .back {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: $gradient;
                font-size: 100px;
                padding: 0;
                color: $yellow;
                cursor: pointer;
            }

            .front {
                position: relative;
                width: 100%;
                height: 100%;
                background-color: $grey;

                .info {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;

                    h2 {
                        width: 100%;
                        background: $yellow;
                        padding: 10px 50px;
                    }

                    .value {
                        padding: 0 50px;
                        color: $yellow;
                        font-size: 19px;
                        span {
                            &:last-child {
                                font-weight: bold;
                                padding-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}