@import './../../colors.scss';
$size: 70px;

.win-counter {
    display: flex;
    justify-content: center;
    padding: 20px;
    .count {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $yellow;
        font-size: $size;
        border-radius: 50%;
        background: #1c1c1c;
        width: $size;
        height: $size;
        padding: 20px;
    }
}