@import '../../colors';

.MuiPaper-root.game-menu {
    background: #23262b;
    color: $yellow;
    padding: 20px;

    .MuiRadio-colorPrimary.Mui-checked,
    h1 {
        color: $yellow;
    }

    h1 {
        text-align: center;
    }

    button {
        width: 100%;
        display: block;
        font-weight: bold;
        transition: .3s;
        &.fight {
            background: $grey;
            color: $yellow;
            margin-top: 20px;
            margin-bottom: 20px;
            &:hover {
                background: #656c75;
            }
            &:disabled {
                background: #ddd;
                color: $black1;
            }
        }
        &.new-game {
            background: $yellow;
            color: $grey;
            &:hover {
                background: #dada51;
                color: $black1;
            }
        }
    }
}